<h2 class="content-subhead">Weekly</h2>
<p>주간보고를 작성하고 취합하는 시간을 이제 Weekly 서비스가 함께합니다.</p>

<h2 class="content-subhead">Data Backup</h2>
<p>매일 새벽에 데이터베이스가 백업됩니다. 백업데이터는 7일간 유지됩니다.</p>
            
<h2 class="content-subhead">Development Information</h2>
<p>Node.js, Express, EJS, SQLite3, jQuery, jQueryUI, PureCSS, PM2 와 함께 Linux Geany에서 개발 되었습니다.</p>